<div class="title">
    <a href="/post/{{id}}">
        {{title}}
    </a>
    <span>{{#if user}}by {{user.username}} {{/if}} on {{format_date createdAt}}</span>
</div>
<div class="meta">
    {{content}}
</div>